* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

:root {
  --darkGray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --veryDarkGray: hsl(0, 0%, 27%);
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

img{
    vertical-align: bottom;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  padding: 4rem 4rem 0;
  gap: 3.5rem;
  z-index: 9;
}

#menuOpen,#menuClose{
    display: none;
}

nav {
  display: flex;
  gap: 2rem;
}

nav a {
  display: block;
  color: var(--white);
  text-decoration: none;
}

nav a:after {
  content: "";
  width: 50%;
  height: 2px;
  margin-left: 25%;
  display: block;
  background: var(--white);
  margin-top: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
}

nav a:focus::after,
nav a:hover::after {
  opacity: 1;
  visibility: visible;
  margin-top: 0.5rem;
}

main {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(36, 1fr);
  grid-template-rows: repeat(40, 1fr);
}

section#slider {
  grid-area: 1 / 1 / 28 / 37;
  background: var(--white);
  display: flex;
  overflow-x: auto;
  position: relative;
  z-index: 1;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

section#slider::-webkit-scrollbar {
  height: 0px;
}

#slider .slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  scroll-snap-align: start;
  position: relative;
}

.slideImg {
  width: 58.5%;
  height: 100%;
  flex-shrink: 0;
}

.slideImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.slideInfo {
  background: var(--white);
  flex-grow: 1;
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.slideInfo h1 {
  font-size: 2.75rem;
  line-height: 1;
}

.slideInfo p {
  color: var(--darkGray);
  line-height: 1.35;
}

.slideInfo a {
  display: block;
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.slideInfo a:focus,
.slideInfo a:hover {
  color: var(--darkGray);
}

.slideInfo a:focus img,
.slideInfo a:hover img {
  filter: invert(78%) sepia(0%) saturate(3%) hue-rotate(221deg) brightness(86%)
    contrast(78%);
}

.buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 10.95%;
  left: 58.5%;
  aspect-ratio: 2;
}

.buttons button {
  background: var(--black);
  border: 0;
  flex: 1 0 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button:hover,
.buttons button:focus {
  background: var(--veryDarkGray);
}

section#photo1 {
  grid-area: 28 / 1 / 41 / 11;
  background: #aac0aa;
}

section#about {
  grid-area: 28 / 11 / 41 / 26;
  background: var(--white);
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

section#about h2 {
  letter-spacing: 0.35rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}

section#about p {
  font-size: 1rem;
  line-height: 1.4;
  color: var(--darkGray);
  font-weight: 500;
}

section#photo2 {
  grid-area: 28 / 26 / 41 / 37;
  background: #a18276;
}

#photo1 img,
#photo2 img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

#darkBg{
    display: none;
}

@media screen and (max-width:500px) {
    header{
        padding:2.5rem;
        display: flex;
        justify-content: center;
        position: absolute;
    }

    #menuOpen{
        display: flex;
        position: absolute;
        left:2rem;
        border:0;
        background: transparent;
        top:50%;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
    }

    nav{
        position: absolute;
        top:0;
        height:100%;
        background: var(--white);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding:0 2rem;
        z-index: 2;
        transform: translateY(-100%);
        transition: .3s;
    }

    nav.active{
        transform: translateY(0);
    }

    #menuClose{
        display: flex;
        border:0;
        background: transparent;
        align-items: center;
        justify-content: center;
    }

    nav a{
        color:var(--black);
        font-weight: 600;
    }

    main{
        display: block;
        flex-direction: column;
    }

    main>section{
        width:100%;
        flex-shrink: 0;
    }

    section#slider .slide{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .slideImg{
        width: 100%;
    }

    .slideImg{
        height: auto;
    }

    .buttons{
        width: 30%;
        left:70%;
        bottom:auto;
        top:96vw;
        transform: translateY(-100%);
    }

    .slideInfo{
        padding:3rem 2rem
    }

    .slideInfo h1{
        font-size:2.5rem
    }

    section#about{
        padding:3rem 2rem
    }

    #darkBg{
        width:100%;
        height:100%;
        position: fixed;
        display: none;
        background: rgba(0,0,0,0.5);
        top:0;
        left:0;
        z-index: 6;
    }
}